body{
    background: url(backgroundShark.jpg) rgba(0,0,0,0.6) no-repeat center center fixed ;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Amatic SC', cursive;
}

.heading{
    width: 100%;
    text-align: center;
}

.home{
    color: #00bcd4;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 28px;
    /* margin-top: 80px; */
    /* font-size: 20px; */
    font-weight: 900;
    width: 60px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: 0 0 16px 14px #00bcd4;
}

.heading h1{
    padding: 4px 0px 6px 0px;
    text-transform: uppercase;
    font-size: 40px;
    color: #00bcd4;
    margin: 20px 0px 5px 0px;
}

.heading h2{
    color: #FFF;
    font-size: 30px;
}

/* .game{
    position: relative;
    display: inline-block;
    width: 100%;
} */

.container{
    position: relative;
    display: inline-block;
    width: 60%;
}

.choose{
    display: inline-block;
    position: relative;
    width: 38%;
    /* border-block-end-width: 30%; */
    /* top: -80px; */
    padding-top: 40px;
}

.choose h2{
    color: #FFF;
    font-size: 35px;
    top: 0px;
    letter-spacing: 2px;
}

.choose i:hover{
    transform: scale(1.1);
}

.choose a{
    display: block;
    text-decoration: none;
    padding: 20px;
}

.tech{
    font-size: 40px;
    color: #FFF;
    padding-left: 10px;
}

.main_card_cont{
    width: 500px;
    height: 500px;
    display: flex; 
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    perspective: 1000px;
    padding: 0 0 40px 0;
}

@media only screen and (max-width: 800px){
    .main_card_cont{
        width: 420px;
        height: 420px;
        display: flex; 
        flex-wrap: wrap;
        position: relative;
        margin: auto;
        perspective: 1000px;
    }
}

.card{
    width: 48%;
    height: 48%;
    margin: 4px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card.flip{
    transform: rotateY(180deg);
}

.card:active{
    transform: scale(.96);
    transition: transform .2s;
}

.front_face,
.back_face{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
}

.front_face{
    transform: rotateY(180deg);
}